<div class="bg-off-white pv4">
  <div class="ph3 mw7 center">

    <header class="tc ph4">
      <h1 class="f3 f2-m f1-l fw2 black-90 mv3">
        {{.intro.heading}}
      </h1>
      <h2 class="f5 f4-m f3-l fw2 black-50 mt0 lh-copy">
        {{.intro.text}}
      </h2>
    </header>

    <section class="cf w-100 pv3 f6 ph3 ph4-ns">
 
          <div class="fl w-third pa2">
            <div class="outline bg-white tc pv4"><code>fl w-25</code></div>
          </div>
          <div class="fl w-third pa2">
            <div class="outline bg-white tc pv4"><code>fl w-25 </code></div>
          </div>
          <div class="fl w-third pa2">
            <div class="outline bg-white tc pv4"><code>fl w-25 </code></div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
